/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  /* ====================================
            common css
    ======================================= */
  img {
    width: 100%;
  }
  .grid {
    gap: 40px;
  }
  .container {
    width: 90%;
    padding: 0;
  }
  .primary-heading {
    font-size: 44px;
    line-height: 30px;
  }
  .secondary-heading {
    font-size: 30px;
  }
  .third-heading {
    line-height: 34px;
  }
  .hero-section {
    text-align: center;
  }
  .flex-end {
    justify-content: center;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }

  .breadcrumbs p,
  .breadcrumbs a {
    font-size: 14px;
  }

  /* =======================================
            Footer section
    ======================================== */
  .footer-section {
    padding: 80px 0;
  }
  .footer-section .grid {
    gap: 60px;
  }
  .footer-section .flex {
    gap: 20px;
    flex-direction: column;
  }
  .footer-section .copyright {
    text-align: center;
    font-size: 13px;
  }
  .footer-section .copyright .border-line {
    width: 100%;
    order: -1;
  }
  /* =======================================
            Header section
    ======================================== */
  header.header-section {
    padding: 5px 0;
    position: relative;
  }
  nav.nav {
    display: none;
  }
  .logo a {
    font-size: 26px;
  }
  nav.nav.is-active {
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: 80%;
    background-color: #810303;
    top: 0;
    left: 0;
    padding: 45px 20px 10px;
  }
  nav.nav.is-active ul {
    flex-direction: column;
    gap: 25px;
  }
  nav.nav.is-active ul li a {
    color: #fff;
  }

  .hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
  }
  .hamburger__container {
    width: 32px;
    height: 24px;
    position: relative;
  }
  .hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
  }
  .hamburger:hover .hamburger__inner::before,
  .hamburger:hover .hamburger__inner::after {
    transform: translate(102px, 0);
    opacity: 0;
  }
  .hamburger.is-active .hamburger__inner {
    display: none;
  }

  .hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
  }
  .hamburger__inner::before {
    top: -13px;
  }
  .hamburger__inner::after {
    top: 13px;
  }
  .hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
  }
  .hamburger:hover .hamburger__hidden::before,
  .hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
  }
  .hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
  }
  .hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
  }
  .hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(90deg);
  }
  .hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(51px - 50%);
  }
  .hamburger__hidden::before,
  .hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #d21e2b;
    content: "";
    transform: translate(102px);
  }
  .hamburger__hidden::before {
    top: -13px;
  }
  .hamburger__hidden::after {
    top: 13px;
  }

  /* =======================================
            Home page
    ======================================== */
  .home-page-hero-section-bg {
    padding: 140px 0;
  }
  .home-page-hero-section-bg .primary-heading {
    font-size: 36px;
    line-height: 50px;
  }
  .home-page-hero-section-bg .secondary-heading {
    font-size: 26px;
    line-height: 40px;
  }
  .financial-wellness,
  .people-first-section {
    padding: 80px 0;
  }
  .financial-wellness .grid-image,
  .people-first-section .grid-image {
    order: -1;
  }
  .home-page-hero-section-bg .body-text {
    padding-right: 0px;
  }
  .wealth-management-content .secondary-heading {
    padding: 15px 0px 15px 20px;
    line-height: 40px;
    font-size: 28px;
  }
  .wealth-management-content .secondary-heading::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 110px;
    top: 0;
    left: 0;
    background: #d21e2b;
    border-radius: 2px;
    z-index: -1;
  }
  .decade-fintech-content {
    padding: 60px 0;
    width: 100%;
    text-align: center;
  }
  .decade-banking-section .secondary-heading,
  .dedicated-service-section .secondary-heading,
  .thinking-ahead-section .secondary-heading {
    padding: 0;
    font-size: 31px;
    line-height: 42px;
  }
  .dedicated-service-section .dedicated-service-content,
  .thinking-ahead-content {
    padding: 30px 20px;
  }
  .dedicated-service-section .secondary-heading {
    text-align: center;
    padding-bottom: 30px;
  }
  .dedicated-service-section .secondary-heading::before {
    left: 0%;
    bottom: 0%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #d21e2b;
    transform: rotate(90deg);
    margin-top: 100px;
  }
  .thinking-ahead-section .secondary-heading {
    order: -1;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  .thinking-ahead-section .secondary-heading::before {
    left: 50%;
    bottom: 0%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 40px solid #d21e2b;
    transform: translate(-50%) rotate(270deg);
    margin-top: 100px;
  }
  /*--------------------------------------------
            About page
----------------------------------------------*/
  .about-bg {
    padding: 120px 0;
  }
  .about .hero-section .secondary-heading {
    line-height: 40px;
    margin: 15px 0;
    font-size: 18px;
  }
  .about .hero-section .body-text {
    padding-left: 0px;
  }
  /*--------------------------------------------
          Services page
----------------------------------------------*/
  .services-bg {
    padding: 120px 0;
  }
  .services .hero-section .primary-heading {
    line-height: 50px;
  }
  .services .hero-section .secondary-heading {
    line-height: 34px;
    font-size: 18px;
    margin: 15px 0;
  }
  .services .hero-section .body-text {
    padding-left: 0px;
  }
  .services .checking-account-section .secondary-heading {
    padding: 0;
    line-height: 34px;
    font-size: 28px;
  }
  .services .checking-account-section .body-text {
    padding: 0;
    margin: 20px 0;
  }
  .services .checking-account-section .grid {
    gap: 30px;
  }
  .services .checking-account-section .grid div {
    border-radius: 18px;
    padding: 30px 20px;
  }
  .services .checking-account-section .grid div .third-heading {
    font-size: 24px;
  }

  /* =======================================
            Products page
    ======================================== */
  .sustainability-bg {
    padding: 120px 0;
  }
  .sustainability .hero-section .secondary-heading {
    line-height: 40px;
    margin: 10px 0;
  }
  .sustainability .hero-section .body-text {
    padding-left: 0px;
  }
  .sustainability .breadcrumbs p,
  .sustainability .breadcrumbs a {
    font-size: 14px;
  }
  .our-communities .responsible-banking-content {
    order: 1;
  }
  .responsible-banking-practice {
    padding: 80px 0;
  }
  .responsible-banking-practice .secondary-heading {
    font-size: 32px;
  }
  .banking-practice {
    width: 100%;
  }
  .unlock-section {
    padding: 80px 0;
  }
  .unlock-section-content .secondary-heading {
    padding-right: 0px;
    font-size: 36px;
  }

  /* =======================================
            Everything OGBC page
    ======================================== */
  .everything-ogbc-bg {
    padding: 120px 0;
  }
  .everything-ogbc .hero-section .primary-heading {
    font-size: 34px;
    line-height: 50px;
  }
  .everything-ogbc .hero-section .secondary-heading {
    font-size: 18px;
    line-height: 28px;
  }
  .everything-ogbc .unlock-section .secondary-heading {
    font-size: 28px;
    line-height: 42px;
  }
  .everything-ogbc .hero-section .body-text {
    padding-left: 0px;
  }

  .everything-ogbc .financial-courses .grid-image {
    order: -1;
  }

  /* =======================================
            FAQS page
    ======================================== */
  .faqs-bg {
    padding: 100px 0;
  }
  .faqs .primary-heading {
    font-size: 42px;
    line-height: 60px;
  }
  .faqs .hero-section .secondary-heading {
    line-height: 28px;
    font-size: 18px;
  }

  /* =======================================
            FAQs Page
    ======================================== */
  .accordion-section {
    padding: 60px 0;
  }
  .dropdown-container h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .dropdown-container .expand img {
    width: 40px;
  }

  /* =======================================
            Contact Page
    ======================================== */
  .contact-section {
    padding: 80px 0;
  }
  .contact-main-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .contact-form {
    order: 1;
  }
  .contact-form {
    width: 100%;
    padding: 30px 20px 40px;
  }
  .contact-form .flex {
    flex-direction: column;
    gap: 0px;
  }
  .contact-text h2 {
    font-size: 28px;
    line-height: 42px;
  }
}

/* Tablet Responsive */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* ====================================
            common css
    ======================================= */
  .container {
    width: 90%;
    padding: 0;
  }
  img {
    width: 100%;
  }
  .primary-heading {
    font-size: 56px;
    line-height: 40px;
  }
  .secondary-heading {
    font-size: 34px;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
  /* ====================================
           Header section
    ======================================= */
  .nav {
    display: none;
  }
  header.header-section {
    padding: 10px 0;
  }

  nav.nav.is-active {
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: 80%;
    background-color: #810303;
    top: 0px;
    left: 0;
    padding: 40px 40px 20px;
  }
  nav.nav.is-active ul {
    flex-direction: column;
  }
  nav.nav.is-active ul li a {
    color: #fff;
  }
  .hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
    margin-right: -15px;
  }
  .hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
  }
  .hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
  }
  .hamburger:hover .hamburger__inner::before,
  .hamburger:hover .hamburger__inner::after {
    transform: translate(102px);
    opacity: 0;
  }
  .hamburger.is-active .hamburger__inner {
    display: none;
  }
  .hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
  }
  .hamburger__inner::before {
    top: -13px;
  }
  .hamburger__inner::after {
    top: 13px;
  }
  .hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
  }
  .hamburger:hover .hamburger__hidden::before,
  .hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
  }
  .hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
  }
  .hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
  }
  .hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(90deg);
  }
  .hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #d21e2b;
    top: 50%;
    transform: translate(51px - 50%);
  }
  .hamburger__hidden::before,
  .hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #d21e2b;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: #d21e2b;
    content: "";
    transform: translate(102px);
  }
  .hamburger__hidden::before {
    top: -13px;
  }
  .hamburger__hidden::after {
    top: 13px;
  }

  /* =======================================
            Footer section
    ======================================== */
  .footer-section {
    padding: 80px 0;
  }
  .footer-section .grid {
    gap: 160px;
  }
  .footer-section .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
  .footer-section .flex {
    gap: 20px;
  }
  .footer-section .copyright {
    text-align: center;
    font-size: 13px;
  }
  .footer-section .copyright .border-line {
    width: 60%;
  }
  /* =======================================
            Home page
    ======================================== */
  .home-page-hero-section-bg .body-text {
    padding-right: 0px;
  }
  .home-page-hero-section-bg {
    padding: 120px 0;
  }
  .home-page-hero-section-bg .primary-heading {
    font-size: 45px;
    line-height: 70px;
  }
  .decade-fintech-content .secondary-heading {
    padding: 0;
  }
  .dedicated-service-section .secondary-heading {
    text-align: center;
    padding: 0;
  }
  .dedicated-service-section .secondary-heading::before {
    left: 0%;
    bottom: 0%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #d21e2b;
    transform: rotate(90deg);
    margin-top: 100px;
  }
  .thinking-ahead-section .secondary-heading {
    order: -1;
    padding-top: 60px;
    text-align: center;
  }
  .thinking-ahead-section .secondary-heading::before {
    left: 50%;
    bottom: 0%;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 40px solid #d21e2b;
    transform: translate(-50%) rotate(270deg);
    margin-top: 130px;
  }
  /*--------------------------------------------
            About page
----------------------------------------------*/
  .about-bg {
    padding: 150px 0;
  }
  .about .hero-section .secondary-heading {
    color: #ffffff;
    line-height: 60px;
  }
  .about .hero-section .body-text {
    color: #ffffffb2;
    padding-left: 80px;
  }
  /*--------------------------------------------
            Services page
----------------------------------------------*/
  .services-bg {
    padding: 150px 0;
  }
  .services .hero-section .secondary-heading {
    color: #ffffff;
    line-height: 60px;
    font-size: 28px;
  }
  .services .hero-section .body-text {
    color: #ffffffb2;
    padding-left: 80px;
  }
  .services .checking-account-section .secondary-heading {
    padding: 0;
    line-height: 44px;
    font-size: 38px;
  }
  .services .checking-account-section .body-text {
    padding: 0;
    margin: 20px 0;
  }
  .services .checking-account-section .grid {
    gap: 30px;
  }
  /* =======================================
            Products page
    ======================================== */
  .sustainability-bg {
    padding: 120px 0;
  }
  .sustainability .secondary-heading {
    line-height: 40px;
    margin: 10px 0;
  }
  .sustainability .hero-section .body-text {
    padding-left: 0px;
  }
  .our-communities .grid {
    gap: 40px;
  }
  .banking-practice {
    width: 100%;
  }
  .responsible-banking-practice {
    padding: 80px 0;
  }

  .our-communities .grid-image {
    order: -1;
  }

  /* =======================================
            Everything OGBC page
    ======================================== */
  .everything-ogbc .financial-courses .grid-image {
    order: -1;
  }
  .everything-ogbc .hero-section .body-text {
    padding-left: 0px;
  }
  .everything-ogbc .hero-section .primary-heading {
    font-size: 52px;
    line-height: 90px;
  }

  /* =======================================
            FAQS page
    ======================================== */
  .faqs .primary-heading {
    font-size: 52px;
    line-height: 70px;
  }
  .faqs .hero-section .secondary-heading {
    line-height: 40px;
    font-size: 26px;
  }
  .accordion-section {
    padding: 80px 0;
  }
  .dropdown-container h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .dropdown-container .expand img {
    width: 50px;
  }

  /* ====================================
           Contact Page
    ======================================= */
  .contact-section {
    padding: 80px 0;
  }
  .contact-main-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .contact-form {
    order: 1;
  }
  .contact-form {
    width: 100%;
    padding: 30px 20px 40px;
  }
  .contact-form .flex {
    flex-direction: column;
    gap: 0px;
  }
  .contact-text h2 {
    font-size: 42px;
    line-height: 51px;
  }
}
