/* Tablet Responsive */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* ====================================
            common css
    ======================================= */
  .container {
    width: 90%;
    padding: 0;
  }
  img {
    width: 100%;
  }
  .primary-heading {
    font-size: 56px;
    line-height: 40px;
  }
  .secondary-heading {
    font-size: 34px;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
  /* ====================================
           Header section
    ======================================= */
  .nav {
    display: none;
  }
  /* =======================================
            Products page
    ======================================== */
  .sustainability-bg {
    padding: 120px 0;
  }
  .sustainability .secondary-heading {
    line-height: 40px;
    margin: 10px 0;
  }
  .sustainability .hero-section .body-text {
    padding-left: 0px;
  }
  .our-communities .grid {
    gap: 40px;
  }
  .banking-practice {
    width: 100%;
  }
  .responsible-banking-practice {
    padding: 80px 0;
  }

  .our-communities .grid-image {
    order: -1;
  }

  /* =======================================
            Everything OGBC page
    ======================================== */
  .everything-ogbc .financial-courses .grid-image {
    order: -1;
  }
  .everything-ogbc .hero-section .body-text {
    padding-left: 0px;
  }
  .everything-ogbc .hero-section .primary-heading {
    font-size: 52px;
    line-height: 90px;
  }

  /* =======================================
            FAQS page
    ======================================== */
  .faqs .primary-heading {
    font-size: 52px;
    line-height: 70px;
  }
  .faqs .hero-section .secondary-heading {
    line-height: 40px;
    font-size: 26px;
  }

  /* ====================================
           Contact Page
    ======================================= */
  .contact-section {
    padding: 80px 0;
  }
  .contact-main-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .contact-form {
    order: 1;
  }
  .contact-form {
    width: 100%;
    padding: 30px 20px 40px;
  }
  .contact-form .flex {
    flex-direction: column;
    gap: 0px;
  }
  .contact-text h2 {
    font-size: 42px;
    line-height: 51px;
  }
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  /* ====================================
            common css
    ======================================= */
  img {
    width: 100%;
  }
  .grid {
    gap: 40px;
  }
  .container {
    width: 90%;
    padding: 0;
  }
  .primary-heading {
    font-size: 52px;
    line-height: 40px;
  }
  .secondary-heading {
    font-size: 34px;
  }
  .hero-section {
    text-align: center;
  }
  .flex-end {
    justify-content: center;
  }
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
  /* =======================================
            Header section
    ======================================== */
  header.header-section {
    padding: 15px 0;
  }
  .nav {
    display: none;
  }
  .logo a {
    font-size: 26px;
  }
  /* =======================================
            Products page
    ======================================== */
  .sustainability-bg {
    padding: 120px 0;
  }
  .sustainability .secondary-heading {
    line-height: 40px;
    margin: 10px 0;
  }
  .sustainability .hero-section .body-text {
    padding-left: 0px;
  }
  .our-communities .responsible-banking-content {
    order: 1;
  }
  .responsible-banking-practice {
    padding: 80px 0;
  }
  .responsible-banking-practice .secondary-heading {
    font-size: 32px;
  }
  .banking-practice {
    width: 100%;
  }
  .unlock-section {
    padding: 80px 0;
  }
  .unlock-section-content .secondary-heading {
    padding-right: 0px;
    font-size: 36px;
  }

  /* =======================================
            Everything OGBC page
    ======================================== */
  .everything-ogbc-bg {
    padding: 120px 0;
  }
  .everything-ogbc .hero-section .primary-heading {
    font-size: 52px;
    line-height: 60px;
  }
  .everything-ogbc .hero-section .secondary-heading {
    line-height: 40px;
    font-size: 26px;
  }
  .everything-ogbc .hero-section .body-text {
    padding-left: 0px;
  }

  .everything-ogbc .financial-courses .grid-image {
    order: -1;
  }

  /* =======================================
            FAQS page
    ======================================== */
  .faqs-bg {
    padding: 100px 0;
  }
  .faqs .primary-heading {
    font-size: 52px;
    line-height: 70px;
  }
  .faqs .hero-section .secondary-heading {
    line-height: 40px;
    font-size: 26px;
  }

  /* =======================================
            Contact Page
    ======================================== */
  .contact-section {
    padding: 80px 0;
  }
  .contact-main-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .contact-form {
    order: 1;
  }
  .contact-form {
    width: 100%;
    padding: 30px 20px 40px;
  }
  .contact-form .flex {
    flex-direction: column;
    gap: 0px;
  }
  .contact-text h2 {
    font-size: 32px;
    line-height: 41px;
  }
}
