/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Noto+Sans:wght@400;500;600&family=Oxygen:wght@700&display=swap");

/* Common CSS */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: #000;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5rem;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.grid-image {
  background: #ffffff;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.primary-color {
  color: #d21e2b;
}
.secondary-color {
  color: #000000fe;
}
.body-text {
  color: #999999;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
.btn {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 15px 24.9218px 14px 25.0001px;
  background: rgba(0, 0, 0, 0.997794);
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.997794);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.btn-red {
  background-color: #d21e2b;
}

.btn-red:hover {
  background-color: #000000fe;
}

.btn-black {
  background-color: #000000fe;
}
.btn-black:hover {
  background-color: #d21e2b;
}
.primary-heading {
  font-size: 96px;
  line-height: 70px;
  color: #ffffff;
}
.secondary-heading {
  font-size: 48px;
  line-height: 36px;
  color: #111111;
}
.third-heading {
  font-size: 30px;
  line-height: 48px;
  color: #111111;
}
.forth-heading {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.menu-text a {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.hero-section {
  background-color: #410000;
  text-align: right;
}
.border-line {
  width: 100px;
  height: 3px;
  background: #d21e2b;
  border-radius: 2px;
  margin: 20px 0;
}
.grid {
  display: grid;
  gap: 100px;
  align-items: center;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

/*--------------------------------------------
            Header section
----------------------------------------------*/
header.header-section {
  background-color: #fff;
  padding: 30px 0;
}
.logo a {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d21e2b;
}

.nav ul {
  display: flex;
  gap: 32px;
}
.nav ul li a:hover {
  color: #d21e2b;
}
a.active {
  color: #d21e2b;
}

/*--------------------------------------------
           Footer section
----------------------------------------------*/
.footer-section {
  background-color: #111111;
  background-image: url("/assets/images/footer-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  background-blend-mode: overlay;
  color: #fff;
}
.footer-section .logo-section a {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.footer-section .grid {
  align-items: stretch;
  gap: 400px;
}

.footer-section .quick-links {
  position: relative;
}
.footer-section .quick-links .forth-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-left: 5px solid #d21e2b;
  padding-left: 15px;
  font-family: "Oxygen", sans-serif;
}

.footer-section .quick-links .forth-heading,
.quick-links ul li a {
  color: #ffff;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Noto Sans", sans-serif;
}

.footer-section .quick-links ul li {
  margin: 30px 0 0 15px;
}
.footer-section .quick-links ul {
  padding: 0;
}
.footer-section .quick-links ul li {
  list-style-type: none;
  padding: 0px 20px;
}

.footer-section .quick-links ul li a:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #d21e2b;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.footer-section .quick-links ul li a:hover:before {
  width: 100%;
}
.footer-section .copyright {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.footer-section .flex {
  gap: 115px;
}
.footer-section .copyright .border-line {
  background-color: #7e8c9c;
  width: 65%;
  height: 1px;
}
.hamburger {
  display: none;
}
/*--------------------------------------------
            Home page
----------------------------------------------*/
.home-page-hero-section-bg {
  background-image: url("/assets/images/home-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 270px 0;
  text-align: left;
}
.home-page-hero-section-bg .primary-heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
}
.home-page-hero-section-bg .secondary-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  color: #fff;
}
.home-page-hero-section-bg .body-text {
  color: #ffffffb2;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  padding-right: 710px;
}
.home-page-hero-section-bg .btn {
  margin-top: 20px;
}
.financial-wellness,
.people-first-section {
  padding: 120px 0;
  background-color: #f9f9f9;
}
.home .financial-wellness-content .btn,
.home .people-first-section .btn,
.wealth-management-section .btn {
  margin-top: 30px;
}
.wealth-management-section {
  padding: 120px 0;
}
.wealth-management-content .secondary-heading {
  line-height: 63px;
  position: relative;
  padding: 25px 80px 25px 40px;
}
.wealth-management-content .secondary-heading::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 193px;
  top: 0;
  left: 0;
  background: #d21e2b;
  border-radius: 2px;
  z-index: -1;
}
.decade-banking-section {
  background-image: url("/assets/images/decade-fintech-img.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.decade-fintech-content {
  padding: 80px 0;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.decade-banking-section .secondary-heading {
  padding: 0 200px;
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
}
.decade-banking-section .decade-fintech-content .border-line {
  margin: 20px auto 50px;
}
.decade-banking-section .decade-fintech-content .btn {
  margin-top: 30px;
}
.dedicated-service-section {
  padding-top: 70px;
}
.dedicated-service-section .secondary-heading, .thinking-ahead-section .secondary-heading {
  text-align: right;
  font-size: 48px;
  line-height: 63px;
  padding-right: 80px;
  position: relative;
}

.dedicated-service-section .secondary-heading::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin: 30px auto;
  top: 30px;
  right: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 50px solid #D21E2B;
  transform: translateY(-30px);
}
.dedicated-service-section .dedicated-service-content, .thinking-ahead-content {
  background: #f9f9f9;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.14);
  border-radius: 28px;
  padding: 100px 56px;
  text-align: center;
}
.thinking-ahead-section{
  padding-bottom: 70px;
}
.thinking-ahead-section .secondary-heading{
  text-align: left;
  padding-left: 80px;
  position: relative;
}
.thinking-ahead-section .secondary-heading::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin: 30px auto;
  top: 60px;
  left: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 50px solid #D21E2B;
  transform: translateY(-60px);
}
/*--------------------------------------------
            Products page
----------------------------------------------*/
.sustainability-bg {
  background-image: url("/assets/images/sustainbility.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0;
}
.sustainability .hero-section .secondary-heading {
  color: #ffffff;
  line-height: 70px;
}
.sustainability .hero-section .body-text {
  color: #ffffffb2;
  padding-left: 630px;
}
.our-communities,
.our-path,
.responsible-banking {
  padding: 70px 0;
}
.banking-practice {
  width: 900px;
  margin: 0 auto;
}
.responsible-banking-practice {
  padding: 120px 0;
  background-color: #efefef;
  text-align: center;
  background-image: url("../images/responsible-banking-practice.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banking-practice .border-line {
  margin: 10px auto;
}
.responsible-banking-practice .secondary-heading {
  color: #111111;
}
.responsible-banking-practice .body-text {
  color: #1f1f1f;
  margin-top: 30px;
}

.unlock-section {
  background-color: #f8f8f8;
  padding: 120px 0;
  background-image: url("../images/unclock.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.unlock-section-content .secondary-heading {
  padding-right: 150px;
  font-size: 46px;
  line-height: 50px;
  padding-left: 30px;
}

.unlock-section-content .border-line {
  position: absolute;
  top: 40%;
  left: -50px;
  transform: rotate(90deg);
  height: 5px;
}

/*--------------------------------------------
            Everything OGBC page
----------------------------------------------*/
.everything-ogbc-bg {
  background-image: url("../images/ogbc.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0;
}
.everything-ogbc .hero-section .primary-heading {
  font-size: 82px;
}
.everything-ogbc .hero-section .secondary-heading {
  color: #ffffff;
  line-height: 70px;
  font-size: 36px;
}
.everything-ogbc .hero-section .body-text {
  color: #ffffffb2;
  padding-left: 600px;
}
.everything-ogbc .unlock-section {
  background-image: url("../images/discover-img.png");
  padding: 60px 0;
}
.list {
  padding-left: 40px;
}
.list li {
  list-style: disc;
}
.inclusive-financial {
  padding: 120px 0;
  background-color: #efefef;
  text-align: center;
  background-image: url("../images/inclusive.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inclusive-financial .body-text {
  color: #111111;
}
.culture-acceptance {
  padding: 70px 0px;
}
.financial-courses {
  padding-bottom: 70px;
}

/*--------------------------------------------
            FAQs page
----------------------------------------------*/
.faqs-bg {
  background-image: url("/assets/images/faq-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0;
}
.faqs .primary-heading {
  font-size: 72px;
  line-height: 70px;
}
.faqs .secondary-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  color: #ffff;
}
.faqs .breadcrumbs {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.accordion-section {
  padding: 130px 0;
}
.clearfix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.clearfix:after {
  display: none;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.dropdown-container {
  max-width: 1160px;
  margin: 10px auto;
  background-color: white;
  color: #888;
  overflow: hidden;
}

.dropdown-container {
  background-color: #f0f0f0;
}

.dropdown-container header {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #810303;
  color: white;
  transition: background-color 350ms ease-in-out;
}

/* .dropdown-container.open header {
  background-color: #d21e2b;
} */

.dropdown-container h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
}

.dropdown-container .expand {
  font-size: 26px;
  transition: transform 0.35s ease-in-out;
}

.dropdown-container.open .expand {
  transform: rotate(0);
}

.dropdown-container article {
  max-height: 0px;
  overflow: hidden;
  line-height: 1.6;
  transition: max-height 350ms ease-in-out;
}
.article-inner p {
  padding: 30px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/*--------------------------------------------
            Contact page
----------------------------------------------*/

.contact-bg {
  background-image: url("/assets/images/contact.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 245px 0;
}
.breadcrumbs {
  color: #fff;
  margin-top: 10px;
}
.breadcrumbs p,
.breadcrumbs a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.contact-form {
  padding: 40px 40px 60px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 716px;
}

.contact-section {
  padding: 170px 0px 250px 0;
}
.contact-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.contact-form .flex {
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.form-group label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0c243c;
}
.form-group label::after {
  content: " *";
  color: #f56c6c;
}
.form-group input,
.form-group textarea {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #868e96;
  padding: 10px 13px;
}
.contact-form .btn {
  width: 100%;
  letter-spacing: 0.3px;
  border-radius: 4px;
}

.contact-text h2 {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 46px;
  line-height: 51px;
  color: #000000;
}
.contact-text .body-text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}
