/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Oxygen:wght@700&display=swap");

/* Common CSS */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: #000;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5rem;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}
.grid-image {
  background: #ffffff;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.primary-color {
  color: #d21e2b;
}
.secondary-color {
  color: #000000fe;
}
.body-text {
  color: #999999;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
.btn {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 15px 24.9218px 14px 25.0001px;
  background: rgba(0, 0, 0, 0.997794);
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.997794);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.btn-red {
  background-color: #d21e2b;
}

.btn-red:hover {
  background-color: #000000fe;
}

.btn-black {
  background-color: #000000fe;
}
.btn-black:hover {
  background-color: #d21e2b;
}
.primary-heading {
  font-size: 96px;
  line-height: 70px;
  color: #ffffff;
}
.secondary-heading {
  font-size: 48px;
  line-height: 36px;
  color: #111111;
}
.third-heading {
  font-size: 30px;
  line-height: 48px;
  color: #111111;
}
.forth-heading {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.menu-text a {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.hero-section {
  background-color: #410000;
  text-align: right;
}
.border-line {
  width: 100px;
  height: 3px;
  background: #d21e2b;
  border-radius: 2px;
  margin: 20px 0;
}
.grid {
  display: grid;
  gap: 100px;
  align-items: center;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

/*--------------------------------------------
            Header section
----------------------------------------------*/
header.header-section {
  background-color: #fff;
  padding: 30px 0;
}
.logo a {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d21e2b;
}

.nav ul {
  display: flex;
  gap: 32px;
}
.nav ul li a:hover {
  color: #d21e2b;
}
a.active {
  color: #d21e2b;
}

/*--------------------------------------------
            Home page
----------------------------------------------*/
/*--------------------------------------------
            Products page
----------------------------------------------*/
.sustainability-bg {
  background-image: url("/assets/images/sustainbility.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0;
}
.sustainability .hero-section .secondary-heading {
  color: #ffffff;
  line-height: 70px;
}
.sustainability .hero-section .body-text {
  color: #ffffffb2;
  padding-left: 630px;
}
.our-communities,
.our-path,
.responsible-banking {
  padding: 70px 0;
}
.banking-practice {
  width: 900px;
  margin: 0 auto;
}
.responsible-banking-practice {
  padding: 120px 0;
  background-color: #efefef;
  text-align: center;
  background-image: url("../images/responsible-banking-practice.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banking-practice .border-line {
  margin: 10px auto;
}
.responsible-banking-practice .secondary-heading {
  color: #111111;
}
.responsible-banking-practice .body-text {
  color: #1f1f1f;
  margin-top: 30px;
}

.unlock-section {
  background-color: #f8f8f8;
  padding: 120px 0;
  background-image: url("../images/unclock.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.unlock-section-content .secondary-heading {
  padding-right: 150px;
  font-size: 46px;
  line-height: 50px;
  padding-left: 30px;
}

.unlock-section-content .border-line {
  position: absolute;
  top: 40%;
  left: -50px;
  transform: rotate(90deg);
  height: 5px;
}

/*--------------------------------------------
            Contact page
----------------------------------------------*/

.contact-bg {
  background-image: url("/assets/images/contact.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 245px 0;
}
.breadcrumbs {
  color: #fff;
  margin-top: 10px;
}
.breadcrumbs p,
.breadcrumbs a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.contact-form {
  padding: 40px 40px 60px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 716px;
}

.contact-section {
  padding: 170px 0px 250px 0;
}
.contact-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.contact-form .flex {
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.form-group label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0c243c;
}
.form-group label::after {
  content: " *";
  color: #f56c6c;
}
.form-group input,
.form-group textarea {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #868e96;
  padding: 10px 13px;
}
.contact-form .btn {
  width: 100%;
  letter-spacing: 0.3px;
  border-radius: 4px;
}

.contact-text h2 {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 46px;
  line-height: 51px;
  color: #000000;
}
.contact-text .body-text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}
